.main {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #e6d4de 0%, #9890c7 100%);
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}
.search {
    margin: 10px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.components {
    width: 400px;
}
.values {
    display: flex;
    justify-content: space-between;
}
.table {
    margin: 0px 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.borderTable {
    border: 1px solid red;
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
}

.bodyTable {
    border: 1px solid lime;
    margin: 0px 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.newArticleBody {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.newArticleBody > button, input  {
    display: block;
}