$background-color: linear-gradient(180deg, #e6d4de 0%, #9890c7 100%);
* {
    box-sizing: border-box;
}
.main {
    min-height: 100vh;
    background: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 500px) {
        align-items: flex-start;
    }
}
.mainBlock {
    min-height: 500px;
    min-width: 450px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: 50px 0px;
    @media (max-width: 500px) {
        min-height: 0px;
        min-width: 300px;
        margin: 50px 0px;
    }
    @media (max-width: 350px) {
        margin: 50px 10px;
    }
}
.title {
    margin-top: 45px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #2d2e46;
}
.subTitle {
    margin: 30px 0 40px 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2d2e46;
}
.form {
    margin: 0 30px;
    text-align: left;
}
.formInput {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
    position: relative;
    input {
        width: 80%;
        padding: 5px;
        border: 0;
        border-bottom: 2px solid grey;
        outline: none;
        @media (max-width: 500px) {
            width: 100%;
        }
    }
    input:focus {
        border-bottom: 2px solid orange;
    }
}

.formInputError {
    position: absolute;
    font-size: 14px;
    color: red;
    left: 40px;
    top: -14px;
    @media (max-width: 500px) {
        font-size: 13px;
        left: 0px;
        top: -14px;
    }
}

.loginButton {
    display: block;
    min-width: 260px;
    color: white;
    height: 35px;
    background: #2f36ae;
    margin: 50px auto 20px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    &:hover {
        background-color: #131771;
    };
    &:active {
        background-color: #080b44;
    };
}
.signInGit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    color: white;
    height: 35px;
    background: #2f36ae;
    margin: 20px auto 20px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    &:hover {
        background-color: #131771;
        color: white;
    };
    &:active {
        background-color: #080b44;
    };
}
.askAboutAccount {
    font-family: SF UI Display;
    color: #9393a2;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    span {
        padding: 4px;
    }
}


.singUp {
    margin: 10px 0 30px 0;
    cursor: pointer;
    a {
        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 4px;
    }
    a:hover {
        text-decoration: none;
        color: black;
        background-color: #e5e5e5;
        border-radius: 20px;
    }
}
.formError {
    display: block;
    text-align: center;
    color: red;
}
