* {
    box-sizing: border-box;
}
.main {
    min-height: 100vh;
    background: linear-gradient(180deg, #e6d4de 0%, #9890c7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainBlock {
    min-height: 540px;
    min-width: 450px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.title {
    margin-top: 45px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #2d2e46;
}
.subTitle {
    margin: 30px 0 40px 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2d2e46;
}
.form {
    margin: 0 30px;
    text-align: left;
}
.formInput {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
    position: relative;
}
.photoEye {
    position: absolute;
    width: 32px;
    height: 32px;
    background: url("https://s1.1zoom.ru/big0/301/Eyes_Painting_Art_Eyelash_lash_Glance_White_522554_1024x1024.jpg") 0 0 /
    contain no-repeat;
    right: 37px;
    top: -8px;
    cursor: pointer;
}
.formInputLastChild {
    height: 40px;
    margin-bottom: 85px;
}
.formInput input {
    width: 80%;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid grey;
    outline: none;
}
.formInput input:focus {
    border-bottom: 2px solid orange;
}
.formInputError {
    position: absolute;
    font-size: 14px;
    color: red;
    top: -14px;
    left: 40px;
}
.loginButton {
    display: block;
    min-width: 260px;
    color: white;
    height: 35px;
    background: #2f36ae;
    margin: 50px auto 20px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
}
.formError {
    display: block;
    text-align: center;
    color: red;
}
.flexButtons {
    display: flex;
    margin: 0px auto 30px;
    width: 100%;
    justify-content: space-around;
}

.cancelButton {
    display: block;
    min-width: 125px;
    color: #21268f;
    height: 35px;
    background: #d7d8ef;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    line-height: 19px;
    border: 0;
}
.cancelButton:hover {
    background-color: #a99fcc;
}
.cancelButton:active {
    background-color: #887dc6;
}
.logisterButton {
    display: block;
    min-width: 260px;
    color: white;
    height: 35px;
    background: #2f36ae;
    margin: 90px auto 30px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
}
.logisterButton:hover {
    background-color: #131771;
}
.logisterButton:active {
    background-color: #080b44;
}
.signInGit {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    color: white;
    height: 35px;
    background: #2f36ae;
    margin: 20px auto 30px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
.askAboutAccount {
    font-family: SF UI Display;
    color: #9393a2;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.askAboutAccount span {
    padding: 4px;
}

.singUp {
    margin: 10px 0 30px 0;
    cursor: pointer;
}
.singUp span {
}
.singUp a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 4px;
}
.singUp a:hover {
    text-decoration: none;
    color: black;
    background-color: #e5e5e5;
    border-radius: 20px;
}
.singUp span:hover {
    cursor: pointer;
}
@media (max-width: 500px) {
    .main {
        align-items: flex-start;
    }
    .mainBlock {
        min-height: 0px;
        min-width: 300px;
        margin: 50px 0px;
    }
    .formInput input {
        width: 100%;
    }
    .formInputError {
        font-size: 13px;
        left: 0px;
        top: -14px;
    }
}
@media (max-width: 350px) {
    .mainBlock {
        margin: 50px 10px;
    }
}